@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'PTSans';
  src: url('/public/fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Если есть bold, italic - подключайте отдельными @font-face */
@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Общая ширина вертикального скроллбара */
::-webkit-scrollbar {
  width: 12px;
}

/* Фон дорожки (полосы, по которой движется бегунок) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}


/* Бегунок (движущаяся часть) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 1px solid #f1f1f1; /* отступ от края дорожки */
}


/* Бегунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Кнопки направления (вверх/вниз) — редко нужны */
::-webkit-scrollbar-button {
  display: none; /* обычно скрываем */
}

/* Угол между вертикальным и горизонтальным скроллбарами */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Толщина скроллбара: auto | thin | none */
* {
  scrollbar-width: thin;
}

/* Цвета: сначала бегунок, потом дорожка */
* {
  scrollbar-color: #888 #f1f1f1;
}
